@charset "UTF 8";

@media screen and (min-width: 940px) and (max-width: 5000px) {


    body, html{
        background-image: linear-gradient(to bottom, #6C6EDD, #171857a2, #9F9FD6);
        background-attachment: fixed;
    }

    #login{
        display: flex;
        flex-direction: row-reverse;
        width: 700px;
        height: 400px;
    }

    #imagem{

        width: 900px;
        height: 600px;
    }

    #email{
        width: 400px;
        
    }

    #senha{
        width: 400px;
      
    }

    #entrar{
        width: 400px;

    }

    #esqueci{
        width: 400px;
    }

    


}