@charset "UTF 8";

@media screen and (min-width: 360px ) and (max-width: 760px) {
    

    main > section {

        display: flex;
        flex-direction: column-reverse;
        margin: auto;
        position: absolute;
        right: 60%;
        top: 50%;
      
        transform: translate(-60%, -50%);
        
 
    }



    

    div{
        width: 400px;
        border-top-left-radius: 0px ;
        border-bottom-right-radius: 20px;
        
    }

    img{
        width: 400px;
        border-top-right-radius: 20px ;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 0px;
    }

    #email{

        width: 300px;
    }

    #senha{
        width: 300px;
    }

    #entrar{
        width: 300px;
    }

    #esquecer{
        width: 300px;
    }
}




