@charset "UTF 8";

@media screen and (min-width: 800px) and (max-width: 940px) {




    
    body, html{
        background-image: linear-gradient(to bottom, #6C6EDD, #171857a2, #9F9FD6);
        background-attachment: fixed;
    }

    
    
    main > #login{
        display: flex;
        flex-direction: row;
        width: 600px;
        height: 300px;
    }

    #imagem{
        background-image: url(../imagens/pexels-christina-morillo-1181325.jpg);
        width: 600px;
        height: 400px;
        background-position: bottom center;
    }

    #email {
        width: 400px;
    }

    #senha{
        width: 400px;
    }

    #entrar{
        width: 389px;
        padding-right: 0px;
    }

    #esqueci{
        width: 389px;
    }
}